#
# Network
#
#
# BitTorrent
#
CONFIG_PACKAGE_transmission-daemon=y
# end of BitTorrent
#
# Cloud Manager
#
CONFIG_PACKAGE_rclone-ng=y
CONFIG_PACKAGE_rclone-webui-react=y
# end of Cloud Manager
#
# Dial-in/up
#
CONFIG_PACKAGE_rp-pppoe-common=y
CONFIG_PACKAGE_rp-pppoe-server=y
# end of Dial-in/up
#
# Download Manager
#
CONFIG_PACKAGE_ariang=y
# end of Download Manager
#
# File Transfer
#
CONFIG_PACKAGE_aria2=y
#
# Aria2 Configuration
#
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_LIBXML2=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_METALINK=y
CONFIG_ARIA2_SFTP=y
CONFIG_ARIA2_ASYNC_DNS=y
CONFIG_ARIA2_COOKIE=y
CONFIG_ARIA2_WEBSOCKET=y
# end of Aria2 Configuration
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_rclone=y
CONFIG_PACKAGE_rclone-config=y
CONFIG_PACKAGE_rsync=y
CONFIG_PACKAGE_vsftpd-tls=y
CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Filesystem
#
CONFIG_PACKAGE_ksmbd-server=y
# end of Filesystem
#
# Firewall
#
CONFIG_PACKAGE_fwknopd=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-dnspod=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_dns2tcp=y
CONFIG_PACKAGE_dnscrypt-proxy=y
CONFIG_PACKAGE_dnscrypt-proxy-resolvers=y
CONFIG_PACKAGE_tor-hs=y
CONFIG_PACKAGE_unbound-daemon=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_wsdd2=y
# end of IP Addresses and Names
#
# LoRaWAN
#
CONFIG_PACKAGE_basicstation=y
# end of LoRaWAN
#
# Printing
#
CONFIG_PACKAGE_p910nd=y
# end of Printing
#
# Routing and Redirection
#
CONFIG_PACKAGE_babeld=y
CONFIG_PACKAGE_bcp38=y
CONFIG_PACKAGE_bird1-ipv4=y
CONFIG_PACKAGE_bird1-ipv4-uci=y
CONFIG_PACKAGE_bird1-ipv6=y
CONFIG_PACKAGE_bird1-ipv6-uci=y
CONFIG_PACKAGE_bmx7=y
CONFIG_PACKAGE_bmx7-json=y
CONFIG_PACKAGE_cjdns=y
CONFIG_PACKAGE_dcwapd=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_mrmctl=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_olsrd=y
CONFIG_PACKAGE_olsrd-mod-nameservice=y
CONFIG_PACKAGE_olsrd-mod-txtinfo=y
CONFIG_PACKAGE_pbr=y
CONFIG_PACKAGE_tc-tiny=y
# end of Routing and Redirection
#
# SSH
#
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_sshtunnel=y
# end of SSH
#
# Tools
#
CONFIG_PACKAGE_wrtbwmon=y
# end of Tools
#
# VPN
#
CONFIG_PACKAGE_eoip=y
CONFIG_PACKAGE_ocserv=y
#
# Configuration
#
CONFIG_OCSERV_PROTOBUF=y
# end of Configuration
CONFIG_PACKAGE_softethervpn5-client=y
CONFIG_PACKAGE_softethervpn5-libs=y
CONFIG_PACKAGE_zerotier=y
# end of VPN
#
# WWAN
#
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_comgt-ncm=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
# end of WWAN
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_brook=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_clamav=y
CONFIG_PACKAGE_cloudflared=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_frps=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_microsocks=y
CONFIG_PACKAGE_naiveproxy=y
CONFIG_PACKAGE_polipo=y
CONFIG_PACKAGE_privoxy=y
#
# Shared libraries settings
#
#
# Config options. Overwrites/ignore configuration file settings
#
CONFIG_PACKAGE_radicale2=y
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=y
CONFIG_PACKAGE_sing-box=y
#
# Customizing build tags
#
CONFIG_SING_BOX_WITH_CLASH_API=y
CONFIG_SING_BOX_WITH_DHCP=y
CONFIG_SING_BOX_WITH_ECH=y
CONFIG_SING_BOX_WITH_GVISOR=y
CONFIG_SING_BOX_WITH_QUIC=y
CONFIG_SING_BOX_WITH_UTLS=y
CONFIG_SING_BOX_WITH_WIREGUARD=y
# end of Customizing build tags
CONFIG_PACKAGE_squid=y
#
# Optional features
#
CONFIG_SQUID_enable-ipv6=y
CONFIG_SQUID_enable-ssl-crtd=y
#
# Optional packages
#
CONFIG_SQUID_use-openssl=y
#
# Additional tools
#
CONFIG_PACKAGE_tinyproxy=y
CONFIG_PACKAGE_trojan-go=y
CONFIG_PACKAGE_tuic-client=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_v2raya=y
CONFIG_PACKAGE_xfrpc=y
CONFIG_PACKAGE_xray-plugin=y
# end of Web Servers/Proxies
#
# Wireless
#
CONFIG_PACKAGE_dynapoint=y
CONFIG_PACKAGE_wifischedule=y
# end of Wireless
#
# WirelessAPD
#
CONFIG_PACKAGE_hostapd-common=y
CONFIG_DRIVER_11AC_SUPPORT=y
# end of WirelessAPD
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_acme-acmesh=y
CONFIG_PACKAGE_acme-common=y
CONFIG_PACKAGE_adblock=y
CONFIG_PACKAGE_adblock-fast=y
CONFIG_PACKAGE_ahcpd=y
CONFIG_PACKAGE_apinger=y
CONFIG_PACKAGE_apinger-rrd=y
CONFIG_PACKAGE_banip=y
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_crowdsec-firewall-bouncer=y
CONFIG_PACKAGE_cshark=y
CONFIG_PACKAGE_dawn=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_homebox=y
CONFIG_PACKAGE_https-dns-proxy=y
CONFIG_PACKAGE_hysteria=y
CONFIG_PACKAGE_iperf3-ssl=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_keepalived=y
#
# Configuration
#
CONFIG_KEEPALIVED_SHA1=y
CONFIG_KEEPALIVED_LVS=y
CONFIG_KEEPALIVED_LVS_SYNCD=y
CONFIG_KEEPALIVED_LVS_64BIT_STATS=y
CONFIG_KEEPALIVED_FWMARK=y
CONFIG_KEEPALIVED_VRRP=y
CONFIG_KEEPALIVED_IPTABLES=y
CONFIG_KEEPALIVED_IP6TABLES=y
CONFIG_KEEPALIVED_NFTABLES=y
CONFIG_KEEPALIVED_VRRP_AUTH=y
CONFIG_KEEPALIVED_CHECKSUM_COMPAT=y
CONFIG_KEEPALIVED_ROUTES=y
CONFIG_KEEPALIVED_LINKBEAT=y
# end of Configuration
CONFIG_PACKAGE_keepalived-sync=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_modemmanager=y
#
# Configuration
#
CONFIG_MODEMMANAGER_WITH_MBIM=y
CONFIG_MODEMMANAGER_WITH_QMI=y
CONFIG_MODEMMANAGER_WITH_QRTR=y
# end of Configuration
CONFIG_PACKAGE_natmap=y
CONFIG_PACKAGE_netperf=y
CONFIG_PACKAGE_nextdns=y
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_omcproxy=y
CONFIG_PACKAGE_pagekitec=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_rssileds=y
CONFIG_PACKAGE_samba4-admin=y
CONFIG_PACKAGE_samba4-client=y
CONFIG_PACKAGE_samba4-libs=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_PACKAGE_samba4-utils=y
CONFIG_PACKAGE_ser2net=y
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_socat=y
CONFIG_SOCAT_SSL=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_tor=y
CONFIG_PACKAGE_travelmate=y
CONFIG_PACKAGE_trojan-plus=y
CONFIG_PACKAGE_udpxy=y
CONFIG_PACKAGE_umdns=y
CONFIG_PACKAGE_usteer=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_PACKAGE_vnstat=y
CONFIG_PACKAGE_vnstat2=y
CONFIG_PACKAGE_vnstati=y
CONFIG_PACKAGE_vnstati2=y
CONFIG_PACKAGE_wwan=y
CONFIG_PACKAGE_xinetd=y
CONFIG_PACKAGE_xray-core=y
# end of Network
